header {
	font-family: 'Arial';
	font-size: 0.8em;
	background-color: black;
	color: white;
	border-bottom: solid 2px #08A364;
	position: relative;
	height: 80px;
}

.logo{
	position: absolute;
	left: 10px;
	top: 5px
}

.menu{
	position: absolute;
	right: 10px;
	top: 25px;
}

header .logo img{
	width: 150px;
}



.menu ul li{
	display: inline-block;
	text-align: right;
	padding: 5px 10px 10px 10px;
}

.menu ul li:hover{
	background-color: #08A364;
}