html,
body {
  height: 100%;
}
body {
  font-family: 'Raleway', sans-serif;
  color: #191b1d;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

.titulocentro {
    text-align: center;
}